@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")?v=2" />
    <style type="text/css">
        body
        {
            
	        margin-bottom: 20px;
        }
    </style>
    <title>How to Use the GMR Turn Timer</title>
</head>
<body>
    <div style="width:570px; margin: 0 auto 20px auto; background-color: #565656; padding: 15px 15px 15px 15px;" >
        <h2>In-Game Passwords</h2>
        <p>
            Civilization V's hot seat mode has a feature which lets users set an in-game password for turn protection
            from other players. Giant Multiplayer Robot allows you to set a single in-game password for use in all of
            your GMR games. This password will be set in the save file for any games you play.
        </p>
        <p>
            GMR also performs password encryption. Regardless of whether or not you set an
            in-game password, when your save games get passed to other players, your password will be
            set to random un-typable characters. This is because it is otherwise possible to
            open a Civilization V save file and view other players' passwords.
        </p>
        <p>
            Although we take security precautions with your in-game password, we would strongly reccomend against
            using an important password that you use for other websites. Note that data entered into GMR is
            <strong>not</strong> sent through SSL and is unencypted.
            As stated in our @Html.ActionLink("terms of use", "TermsOfUse", "About", null, new { target = "_blank" }),
            we are not liable for damages caused by using our service, so do avoid giving us sensitive information.
        </p>
    </div>
</body>
</html>