@{
    ViewBag.Title = "SteamDataPolicy";
}

<h2>Steam Data Policy</h2>
<div style="width: 75%">
    We use and store the following data from your Steam account:
    <ul>
        <li>Steam ID</li>
        <li>Profile name</li>
        <li>Avatar URL</li>
        <li>Profile URL</li>
    </ul>
    <br />
    We also use the following data, but do not store it:
    <ul>
        <li>Online status</li>
        <li>The game you are currently playing</li>
    </ul> 
    <br />
    We store this stuff for authentication and user interface purposes. We don't share any of it with third parties.<br />
    <p>
        Logging in through Steam is 100% safe. We use Steam's OpenID provider and follow all of their 
        <a href="http://steamcommunity.com/dev">official requirements</a>. Note that when you are logging in through Steam,
        your username and password are being given to steamcommunity.com (complete with a lock icon in your browser's URL bar) 
        and <strong>not</strong> multiplayerrobot.com. In fact, you should never login through Steam if the website does not 
        redirect you to the official Steam login. Once you have successfully logged in, Steam gets back to us and gives us the 
        ID of your Steam account, which we then use to get the information mentioned above. We never see your username or 
        password.
    </p>
</div>