@{
    ViewBag.Title = "Us";
}

<div style="width: 70%">
    <h2>Who are we?</h2>

    <p>We're Brian and Mel. We write and maintain Giant Multiplayer Robot for fun.</p>

    <h2>Need some help?</h2>

    <p>
        We're happy to help with any issues you may have. Just send us a message on <a href="http://twitter.com/GMRobot">Twitter</a>,
 write on our <a href="http://www.facebook.com/MultiplayerRobot">Facebook page</a>, or
 email us at <strong>support@@multiplayerrobot.com</strong>
    </p>
    <p>If the issue you're experiencing is with a specific game please copy the URL for the game in your message or tell us its GameID,
        which is the number at the very end of the URL for the game's Detail page. Example: <i>http://multiplayerrobot.com/Game#<strong>{GameID}</strong></i>
    </p>

    <h2>Want to see what we're up to?</h2>

    <p>
        We're continually developing new features for our Giant Multiplayer Robot and fixing and enhancing
 the current ones. If you'd like to see exactly what we're working on, leave comments, and vote on which
 features you'd like to see get our attention first, head on over to our
 public <a href="https://trello.com/board/gmr-development/4f4875a5fecaa4320b4b8ff3" target="_blank">Trello board</a>!
    </p>
</div>
