@{
    ViewBag.Title = "Invalid Submit";
    Layout = "~/Views/Game/_Layout.cshtml";
}
<div class="tabcontentcontainer">
    <h2>Sorry!</h2>
    <p style="width: 75%">
        @Html.Raw(Model)
    </p>
    @if (Session["GameBeingSubmitted"] != null)
    {
        <text>@Html.ActionLink("View Game Details", "Details", new { id = ((int)Session["GameIdBeingSubmitted"]) })</text>
    }
</div>
