@{
    ViewBag.Title = "CompleteLogin";
}
<div style="width:70%">
    <h1>Welcome to Giant Multiplayer Robot!</h1>

    <h2>Your control panel's over there &#26;</h2>
    <p>
        Get to it in the future by clicking on your avatar.
    </p>
    <h2>Have fun!</h2>
    <p>
        We hope you enjoy using Giant Multiplayer Robot. Please @Html.ActionLink("contact us", "Us", "About") with any
        feedback or problems that you have so that we can continue improving GMR and making it a better tool for the community.
    </p>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        ShowCP(null);
    });
</script>