@{
    ViewBag.Title = "Session Expired";
}

<h2>Your session has expired</h2>
<div style="width:75%">
<p>
    We're sorry, but it looks like your session expired. You may have been on the website too long without
    clicking on anything, or we might have updated the site while you were using it.
</p>
<p>
    Either way, you'll need to log in again. Sorry for the trouble.
</p>
</div>